/* rubik-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/rubik-v31-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-300italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/rubik-v31-latin-300italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik-v31-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/rubik-v31-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/rubik-v31-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/rubik-v31-latin-500italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/rubik-v31-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-600italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/rubik-v31-latin-600italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik-v31-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/rubik-v31-latin-700italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik-v31-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-800italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/rubik-v31-latin-800italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/rubik-v31-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-900italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/rubik-v31-latin-900italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lobster-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lobster";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lobster-v32-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik";
}

header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url("../imgs/png/backround.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 28.5px;
  padding-bottom: 33px;
}

.container {
  width: 100%;
  max-width: 1452px;
  margin: 0 auto;
  padding: 20px;
}
.sitenav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-bar {
  display: flex;
  align-items: center;
}

.link-bar {
  display: none;
}

.site-links {
  display: flex;
  align-items: center;
  gap: 35px;
}
.nav-link {
  text-decoration: none;
  color: white;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.33px;
}

.nav-link:hover {
  color: #f39c11;
}

.site-icon {
  display: flex;
  align-items: center;
  gap: 26px;
}

.hero {
  flex-grow: 1;
}

.hero-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}

.title {
  font-family: "Lobster";
  font-size: 100px;
  line-height: 100%;
  color: white;
  font-weight: 400;
}

.about {
  background: #fff4d8;
  padding: 82px 0;
}

.about-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-text {
  width: 554px;
  h2 {
    font-family: "Lobster";
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 33px;
    line-height: 50px;
    letter-spacing: -0.33px;
  }

  p {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.33px;
    font-weight: 400;
    margin-bottom: 33px;
  }
}

.img-two {
  display: none;
}

.about-img {
  width: 643px;
}

.btn {
  padding: 20px 30px;
  background: orange;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}

.btn:hover {
  background-color: red;
  border: red;
  color: white;
}

.offers {
  background: #4b2e1e;
  color: #fff;
  padding: 30px 0;
  text-align: center;
  h2 {
    font-family: "Lobster";
    color: #fff4d8;
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 33px;
  }
}

.offer-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.offer {
  width: 287px;

  h3 {
    font-size: 30px;
    line-height: 35px;
    color: #fff4d8;
    font-weight: 600;
    margin-bottom: 31px;
  }
  p {
    color: #fff4d8;
  }
}

.offer-icon img {
  width: 150px;
  margin-bottom: 19px;
}

/* menu */

/* Section */
.menu {
  background: #fff4d8;
  padding: 70px 0;
}

/* Top */
.menu-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.menu-title {
  font-family: "Lobster";
  font-size: 50px;
  font-weight: 400;
}

.menu-btn {
  display: flex;
  cursor: pointer;
  justify-content: right;
  margin-bottom: 21px;
}

/* Cards */
.menu-cards {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.card {
  background: #ffffff;
  border-radius: 20px;
  padding: 23px;
  max-width: 444px;
  display: flex;
  flex-direction: column;
}

.card-img img {
  width: 100%;
}

.card-title {
  font-size: 20px;
  font-weight: 600;
  margin: 15px 0 10px;
}

.card-star {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
  span {
    color: #555555;
  }
}

.star-icon {
  width: 16px;
  height: 16px;
  background: orange;
  display: inline-block;
}

.card-text {
  font-size: 14px;
  color: #555555;
  margin-bottom: 20px;
}

.card-bottom {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-money {
  font-size: 40px;
  font-weight: 700;
}

.card-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border: 1px solid orange;
  background: transparent;
  border-radius: 8px;
  cursor: pointer;
  color: #f39c11;
}

.cart-icon {
  width: 16px;
  height: 16px;
  background: orange;
  display: inline-block;
}

@media (max-width: 1200px) {
  .title {
    font-size: 80px;
  }

  /* about qismi */
  .about-img {
    width: 500px;
  }

  .about-img img {
    width: 500px;
  }

  .about-text {
    width: 450px;
  }
}

@media (max-width: 900px) {
  .logo {
    width: 160px;
    height: 75px;
  }

  .site-icon a img {
    width: 50px;
    height: 50px;
  }

  .title {
    font-size: 70px;
  }

  /* about qismi */

  .about-img {
    width: 450px;
  }

  .about-img img {
    width: 450px;
  }

  .about-text {
    width: 400px;
  }

  /* offer */
  .offer-icon img {
    width: 100px;
  }

  .offer {
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
      font-size: 30px;
      line-height: 35px;
      color: #fff4d8;
      font-weight: 600;
    }
    p {
      color: #fff4d8;
      font-size: 15px;
    }
  }

  .card {
    max-width: 338px;
    padding: 17px;
  }
  .card-money {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .site-links {
    display: none;
  }
  .link-bar {
    display: inline-block;
  }

  .title {
    font-size: 60px;
  }

  /* about qismi */

  .about-text {
    width: 100%;
  }

  .img-two {
    width: 400px;
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .about-img {
    display: none;
  }

  /* offer */
  .offer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .offer {
    width: 346px;
    border-bottom: 1px solid #fff4d8;
    p {
      margin-bottom: 31px;
    }
  }

  .menu-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    max-width: 350px;
    padding: 18px;
  }
}

@media (max-width: 468px) {
  header {
    background-image: url("../imgs/png/backround-mobile.png");
  }

  .title {
    font-size: 50px;
  }

  /* abut qismi */

  .about-text {
    width: 350px;
    margin: 0 auto;
    text-align: center;
    h2 {
      font-size: 30px;
    }
    p {
      font-size: 15px;
      line-height: 20px;
    }
  }

  .img-two {
    width: 250px;
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .about-img {
    display: none;
  }
}
